<app-search
    (search)="onSearch($event)"
    (reset)="onReset()"
></app-search>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Subject</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let student of students"
            (click)="viewStudent(student.id)"
            class="clickable"
        >
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.subject }}</td>
            <td
                [ngStyle]="{ 'background-color': getGradeColour(student.grade) }"
            >
                {{ student.grade }}%
            </td>
        </tr>
    </tbody>
</table>